<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bluetreasure HR system</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <header>
    <div class="logo">
        <img src="../static/gazprom-neft-logo-eng.svg" alt="GazProm Neft Logo">
    </div>
    <div class="title">Bluetreasure HR system</div>
</header>
 <div class="main_text_block">
        <div class="main_text">
            Выберете пункт меню
        </div>
    </div>
    <div class="menu">
        <a class="card" href="{{ url_for('webstart.vacancies_page') }}">
            <div class="card-title">База вакансий</div>
            <div>Добавление вакансий из текста или PDF и просмотр уже загруженных.</div>
        </a>

        <a class="card" href="{{ url_for('webstart.candidates_upload_page') }}">
            <div class="card-title">Загрузка резюме</div>
            <div>Пачечная загрузка HH PDF резюме в индекс candidates.</div>
        </a>

        <a class="card" href="{{ url_for('webstart.search_page') }}">
            <div class="card-title">Поиск кандидатов</div>
            <div>Выбор вакансии из базы и поиск top-N кандидатов.</div>
        </a>

        <a class="card" href="{{ url_for('webstart.best_candidates') }}">
            <div class="card-title">Выбор лучших кандидатов</div>
            <div>Выбор вакансии из базы и запрос к LLM для выбора лучших</div>
        </a>
    </div>
</body>
</html>